.mainCont{
    width: 500px;
    margin:100px auto;
}
.cont{
    display: flex;
    justify-content: space-between;
}

.cont button{
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
}


